---
name: ci

# yamllint disable-line rule:truthy
on:
  push:
  pull_request:

concurrency:
  # yamllint disable-line rule:line-length
  group: ci-${{github.ref}}-${{github.event.pull_request.number || github.run_number}}
  cancel-in-progress: true

permissions: {}

jobs:
  prechecks:
    uses: ./.github/workflows/pre-commit.yml
  all-prechecks:
    name: Pre-test check success
    needs: [prechecks]
    runs-on: ubuntu-24.04
    steps:
      - name: Success
        run: "true"
  tests:
    needs: [prechecks]
    uses: ./.github/workflows/test.yml
  all:
    name: CI success
    needs: [tests]
    runs-on: ubuntu-24.04
    steps:
      - name: Success
        run: "true"
